* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #1196fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

/* From Uiverse.io by bociKond */
span {
  color: #1196fa;
}
h1,
h3 {
  margin-top: 10px;
}
.form .logo {
  filter: drop-shadow(20px 10px 0px #70707044);
}
.form {
  --bg-light: #efefef;
  --bg-dark: #70707044;
  --clr: #1195fadf;
  --clr-alpha: #9c9c9c3d;
  background-color: rgba(154, 198, 226, 0.612);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 400px;
  max-width: 900px;
  border-radius: 5%;
}

.form .input-span {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form input[type="email"],
.form input[type="password"],
.form input[type="text"] {
  border-radius: 0.5rem;
  padding: 1rem 0.75rem;
  width: 100%;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--clr-alpha);
  outline: 2px solid var(--bg-dark);
}

.form input[type="email"]:focus,
.form input[type="password"]:focus,
.form input[type="text"]:focus {
  outline: 2px solid var(--clr);
}

.label {
  align-self: flex-start;
  color: var(--clr);
  font-weight: 600;
}

.form .submit {
  padding: 1rem 0.75rem;
  width: 50%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 10px;
  border-radius: 3rem;
  background-color: var(--bg-dark);
  color: var(--bg-light);
  border: none;
  cursor: pointer;
  transition: all 300ms;
  font-weight: 600;
  font-size: 0.9rem;
}

.form .submit:hover {
  background-color: var(--clr);
  color: white;
}
#captcha-img {
  width: 200px; /* Taille par défaut */
  height: 50px;
}

.span {
  text-decoration: none;
  color: var(--bg-dark);
}

.span a {
  color: var(--clr);
}
@media (max-width: 800px) {
  .Connexion .form {
    width: 700px;
    height: auto;
    justify-content: center;
  }

  .form input[type="email"],
  .form input[type="password"],
  .form input[type="text"] {
    padding: 2rem 1rem;
  }

  .form input[type="email"]:focus,
  .form input[type="password"]:focus,
  .form input[type="text"]:focus {
    outline: 4px solid var(--clr);
    font-size: 2rem;
  }

  .form .submit {
    padding: 2rem 1rem;
    font-weight: 600;
    font-size: 2rem;
  }
  input::placeholder {
    font-size: 1.5rem;
  }
  h1,
  h2 {
    font-size: 3rem;
  }
  .span a {
    font-size: 2rem;
  }
  .form #captcha-img {
    height: 50px;
  }
  #captcha-img {
    width: 300px; /* Agrandir la largeur */
    height: 75px; /* Agrandir la hauteur */
    font-size: 30px;
  }
  .logo {
    height: 400px;
  }
}
@media (max-width: 499px) {
  .Connexion .form {
    width: 100%;
    height: auto;
    justify-content: center;
  }
}
